﻿@{
    ViewData["Title"] = "Inicio Ana Carolina Mondragon Rangel";
}
<style>
    .cadrd-btn {
        transition: 0.7s;
    }
        .cadrd-btn:hover {
            background-color: #ffd8be;
        }
    .dashboard .pmd-card-body, .dashboard .notification .content-section {
        min-height: 50px;
    }
    .hvr-icon-grow {
        display: block;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="pmd-card pmd-card-default pmd-z-depth ">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"><i class="fas fa-desktop"></i> Proyecto FIC</h2>
            </div>
            <div class="pmd-card-body">
                <center>
                    <img class="img-responsive" src="~/images/escudo_itt_200x200.png" />
                </center>
                <br />
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <a asp-area="Carreras" class="hvr-icon-grow" asp-controller="FicCarreras" asp-action="Index">
                            <div class="pmd-card pmd-card-default pmd-z-depth-2 cadrd-btn ">
                                <div class="pmd-card-body">
                                    <center >
                                        <h1 class="pmd-card-title-text"><i class="fas fa-university fa-2x hvr-icon"></i> CARRERAS</h1>
                                    </center>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a asp-area="Especialidades" class="hvr-icon-grow" asp-controller="FicEspecialidades" asp-action="Index">
                            <div class="pmd-card pmd-card-default pmd-z-depth-2 cadrd-btn">
                                <div class="pmd-card-body">
                                    <center>
                                        <h1 class="pmd-card-title-text"><i class="fas fa-university fa-2x hvr-icon"></i> Especialidades</h1>
                                    </center>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <a asp-area="Especialidades" class="hvr-icon-grow" asp-controller="FicEspecialidades" asp-action="IndexEC">
                            <div class="pmd-card pmd-card-default pmd-z-depth-2 cadrd-btn">
                                <div class="pmd-card-body">
                                    <center>
                                        <h1 class="pmd-card-title-text"><i class="fas fa-university fa-2x hvr-icon"></i> Especialidades Carrera</h1>
                                    </center>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <a asp-area="Generales" class="hvr-icon-grow" asp-controller="FicGenerales" asp-action="Index">
                            <div class="pmd-card pmd-card-default pmd-z-depth-2 cadrd-btn">
                                <div class="pmd-card-body">
                                    <center>
                                        <h1 class="pmd-card-title-text"><i class="fas fa-university fa-2x hvr-icon"></i> GENERALES </h1>
                                    </center>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <a asp-area="Generales" class="hvr-icon-grow" asp-controller="FicGenerales" asp-action="ListaTipo">
                            <div class="pmd-card pmd-card-default pmd-z-depth-2 cadrd-btn">
                                <div class="pmd-card-body">
                                    <center>
                                        <h1 class="pmd-card-title-text"><i class="fas fa-university fa-2x hvr-icon"></i> GENERALES TIPO</h1>
                                    </center>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
