﻿@model FicProyecto_web.Models.FicCarrera.cat_carreras_agregar
@{
    ViewData["Title"] = "FicAdd";
}
<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"> Agregar Carrera</h2>
            </div>
            <div class="pmd-card-body">
                <div class="row">

                    <div class="col-md-3">
                        <a href="/Carreras" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <form action="FicAddCarrera">
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    ClaveCarrera
                                </label>
                                <input type="text" required maxlength="20" id="ClaveCarrera" name="eva_cat_carreras.ClaveCarrera" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    ClaveOficial
                                </label>
                                <input type="text" required maxlength="20" id="ClaveOficial" name="eva_cat_carreras.ClaveOficial" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    DesCarrera
                                </label>
                                <input type="text" required maxlength="100" id="DesCarrera" name="eva_cat_carreras.DesCarrera" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    Alias
                                </label>
                                <input type="text" required maxlength="10" id="Alias" name="eva_cat_carreras.Alias" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    Creditos
                                </label>
                                <input type="number" required id="Creditos" name="eva_cat_carreras.Creditos" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    NombreCorto
                                </label>
                                <input type="text" required maxlength="20" id="NombreCorto" name="eva_cat_carreras.NombreCorto" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">FechaIni</label>
                                        <input type="text" name="eva_cat_carreras.FechaIni" id="datepicker-start" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">FechaFin</label>
                                        <input type="text" name="eva_cat_carreras.FechaFin" id="datepicker-end" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="group-fields clearfix row">
                        <div class="col-sm-6 ">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Gen Grado Escolar </label>
                                <select name="eva_cat_carreras.IdGenGradoEscolar" class="form-control">
                                    @foreach (var item in Model.cat_generales)
                                    {
                                        @if (item.IdTipoGeneral==17) { 
                                        <option value="@item.IdGeneral">@item.DesGeneral</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 ">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Gen Modalidad </label>
                                <select name="eva_cat_carreras.IdGenModalidad" class="form-control">
                                    @foreach (var item in Model.cat_generales)
                                    {
                                        @if (item.IdTipoGeneral == 18)
                                        {
                                            <option value="@item.IdGeneral">@item.DesGeneral</option>
                                        }
                                      }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="group-fields clearfix row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Activo
                                    </label>
                                    <div class="pmd-switch">
                                        <label>
                                            <input name="eva_cat_carreras.Activo" type="checkbox">
                                            <span class="pmd-switch-label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Borrado
                                    </label>
                                    <div class="pmd-switch">
                                        <label>
                                            <input name="eva_cat_carreras.Borrado" type="checkbox">
                                            <span class="pmd-switch-label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-primary btn-block" type="submit">AGREGAR CARRERA</button>
                </form>
            </div>
        </div>
    </div>
</div>