﻿@model FicProyecto_web.Models.FicCarrera.cat_generales_consulta

@{
    ViewData["Title"] = "Index";
}

<!-- DataTables css-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<!-- Propeller dataTables css-->
<link rel="stylesheet" type="text/css" href="~/components/data-table/css/pmd-datatable.css">
<style>
    td p {
        white-space: nowrap !important;
    }
</style>

<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"> Catalogo Carreras del Instituto Tecnológico de Tepic
                </h2>
            </div>
            <div class="pmd-card-body">
                <div class="row">

                    <div class="col-md-3">
                        <a href="/" class="btn  pmd-btn-raised  btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <a href="Carreras/FicCarreras/FicAdd" class="btn pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-plus-circle"></i>AGREGAR NUEVA CARRERA
                        </a>

                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <table id="example" class="table pmd-table table-hover table-striped display responsive nowrap dataTable no-footer dtr-column" cellspacing="0" width="100%"
                       role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th>Acciones</th>
                            <th>ClaveCarrera</th>
                            <th>ClaveOficial</th>
                            <th>DesCarrera</th>
                            <th>NombreCorto</th>
                            <th>Creditos</th>
                            <th>Generales</th>
                            <th>Generales Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.eva_cat_carreras)
                        {
                            <tr>
                                <td>
                                    <span class="dropdown pmd-dropdown clearfix">
                                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button" id="dropdownMenuBottomRight" data-toggle="dropdown" aria-expanded="false">
                                            <i class="material-icons pmd-sm">more_vert</i>
                                        </button>
                                        <div class="pmd-dropdown-menu-container">
                                            <div class="pmd-dropdown-menu-bg pmd-dropdown-menu-bg-right"></div><ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu dropdown-menu-right pm-ini" style="clip: rect(0px, 160px, 0px, 160px);">
                                                <li role="presentation"><a href="Carreras/FicCarreras/FicEdit?idcarrera=@item.IdCarrera" tabindex="-1" role="menuitem"><i class="fas fa-edit"></i> EDITAR</a></li>
                                                <li role="presentation"><a href="Carreras/FicCarreras/FicDetail?idcarrera=@item.IdCarrera" tabindex="-1" role="menuitem"><i class="fas fa-info-circle"></i> DETALLE</a></li>
                                                <li role="presentation"><a data-target="#complete-dialog" data-toggle="modal" onclick="opendeletemodal('?idcarrera=@item.IdCarrera')" tabindex="-1" role="menuitem"><i class="fas fa-trash-alt"></i> ELIMINAR</a></li>
                                                <li class="dropdown-header" role="presentation"><i class="fas fa-caret-right"></i> Especialidades</li>
                                                <li role="presentation"><a href="Especialidades/FicEspecialidades/FicCarreraEspecialdiades?idcarrera=@item.IdCarrera" tabindex="-1" role="menuitem"><i class="fas fa-edit"></i> VER ESPECIALIDADES</a></li>
                                            </ul>
                                        </div>
                                    </span>
                                </td>
                                <td>@item.ClaveCarrera</td>
                                <td>@item.ClaveOficial</td>
                                <td>@item.DesCarrera</td>
                                <td>@item.NombreCorto</td>
                                <td>@item.Creditos</td>
                                <td>
                                    @foreach (var cat_generales in Model.cat_generales)
                                    {
                                        @if (cat_generales.IdGeneral == item.IdGenGradoEscolar)
                                        {
                                            @cat_generales.DesGeneral
                                        }
                                    }
                                </td>
                                <td>
                                    @foreach (var cat_tipos_generales in Model.cat_tipos_generales)
                                    {
                                        @if (cat_tipos_generales.IdTipoGeneral == item.IdTipoGenGradoEscolar)
                                        {
                                            @cat_tipos_generales.DesTipo
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="formdelete" action="FicDelete" method="post">
    <div tabindex="-1" class="modal fade" id="complete-dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="pmd-card-title-text">¿Desea Eliminar?</h2>
                </div>
                <div class="modal-body">

                </div>
                <div class="pmd-modal-action pmd-modal-bordered text-right">
                    <button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">CANCELAR</button>
                    <button type="submit" class="btn pmd-btn-flat pmd-ripple-effect btn-default">BORRAR</button>
                </div>
            </div>
        </div>
    </div>
</form>

<button type="button" data-positionX="right" data-positionY="top" data-duration="3000" data-effect="fadeInUp" data-message="" data-type="" class="btn pmd-ripple-effect btn-warning pmd-z-depth alert-trigger pmd-alert-toggle floating_alert_button hidden"></button>



