﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FicProyecto_web</title>
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-96x96.png">
    <environment include="Development">
        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="~/css/hover.css">
        <!-- Bootstrap css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
        <!-- Propeller css -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/propeller.min.css">
        <!-- Propeller theme css-->
        <link rel="stylesheet" type="text/css" href="~/themes/css/propeller-theme.css" />
        <!-- Propeller admin theme css-->
        <link rel="stylesheet" type="text/css" href="~/themes/css/propeller-admin.css">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <style>
            .textomenu {
                color: white;
            }

            .navbar-inverse {
                background-color: #f48a42;
                border-color: #f48a42;
            }

            .pmd-sidebar {
                background-color: #8a522c;
            }

            .pmd-sidebar-left .nav > li.pmd-user-info > a {
                border-bottom: solid 1px #ec8945;
                font-size: 16px;
                color: #fff;
            }

                .pmd-sidebar-left .nav > li.pmd-user-info > a:hover, .pmd-sidebar-left .nav > li.pmd-user-info > a:focus, .pmd-sidebar-left .nav > li.pmd-user-info > a:active, .pmd-sidebar-left .nav > li.pmd-user-info > a.active {
                    background: #f48a42;
                }

            .pmd-sidebar-left .nav > li > a:hover, .pmd-sidebar-left .nav > li > a:focus, .pmd-sidebar-left .nav > li > a:active, .pmd-sidebar-left .nav > li > a.active {
                background-color: #f48a42;
                color: #fff;
            }

            .pmd-sidebar .pmd-sidebar-nav .dropdown-menu {
                background: #673a1c;
                padding: 10px 0;
            }
        </style>
        <!-- Propeller date time picker css-->
        <link rel="stylesheet" type="text/css" href="~/components/datetimepicker/css/bootstrap-datetimepicker.css" />
        <link rel="stylesheet" type="text/css" href="~/components/datetimepicker/css/pmd-datetimepicker.css" />

    </environment>
    <environment exclude="Development">
        <!-- <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
           asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
           asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" /> -->
        <!-- Google icon -->

    </environment>
</head>
<body>
    <!-- Header Starts -->
    <!--Start Nav bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth">

        <div class="container-fluid">
            <div class="pmd-navbar-right-icon pull-right navigation">


            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="javascript:void(0);" data-target="basicSidebar" data-placement="left" data-position="slidepush" is-open="true" is-open-width="1200" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons md-light">menu</i></a>
                <a asp-area=""  asp-controller="Home" asp-action="Index" class="navbar-brand">
                    <img width="50px" class="img-responsive" src="~/images/escudo_itt_200x200.png" />
                </a>
            </div>
        </div>

    </nav><!--End Nav bar -->
    <!-- Header Ends -->
    <!-- Sidebar Starts -->
    <div class="pmd-sidebar-overlay"></div>


    <!-- Left sidebar -->
    <aside id="basicSidebar" class="pmd-sidebar  sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons" role="navigation">
        <ul class="nav pmd-sidebar-nav">

            <!-- User info -->
            <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
                <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
                    <div class="media-left">
                        <img src="~/themes/images/user-icon.png" alt="Ana Carolina Mondragon Rangel">
                    </div>
                    <div class="media-body media-middle">Ana Carolina Modragon</div>
                    <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </li><!-- End user info -->

            <li>
                <a class="pmd-ripple-effect" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="media-left media-middle">
                        <i class="fas fa-home fa-2x"></i>
                    </i>
                    <span class="media-body">Inicio</span>
                </a>
            </li>

            <li class="dropdown pmd-dropdown">
                <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
                    <i class="media-left media-middle">
                        <i class="fas fa-university fa-2x"></i>
                    </i>
                    <span class="media-body">Catalogo Carreras</span>
                    <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header textomenu" role="presentation"><i class="fas fa-caret-right"></i> Carreras</li>
                    <li><a asp-area="Carreras" asp-controller="FicCarreras" asp-action="Index">Lista Carreras</a></li>
                    <li><a asp-area="Carreras" asp-controller="FicCarreras" asp-action="FicAdd">Agregar Carrera</a></li>
                    <li class="dropdown-header textomenu" role="presentation"><i class="fas fa-caret-right"></i> Especialidades</li>
                    <li><a asp-area="Especialidades" asp-controller="FicEspecialidades" asp-action="Index">Lista Especialidades</a></li>
                    <li><a asp-area="Especialidades" asp-controller="FicEspecialidades" asp-action="FicAdd">Agregar Especialidade</a></li>
                    <li class="dropdown-header textomenu" role="presentation"><i class="fas fa-caret-right"></i> Especialidades Carrera</li>
                    <li><a asp-area="Especialidades" asp-controller="FicEspecialidades" asp-action="IndexEC">Lista Especialidades Carrera</a></li>
                    <li><a asp-area="Especialidades" asp-controller="FicEspecialidades" asp-action="FicAddEC">Agregar Especialidade Carrera</a></li>
                </ul>
            </li>
            <li class="dropdown pmd-dropdown">
                <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" href="javascript:void(0);">
                    <i class="media-left media-middle">
                        <i class="fas fa-cat fa-2x"></i>
                    </i>
                    <span class="media-body">Catalogo Generales</span>
                    <div class="media-right media-bottom"><i class="dic-more-vert dic"></i></div>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header textomenu" role="presentation"><i class="fas fa-caret-right"></i> Generales</li>
                    <li><a asp-area="Generales" asp-controller="FicGenerales" asp-action="Index">Lista Generales</a></li>
                    <li><a asp-area="Generales" asp-controller="FicGenerales" asp-action="FicGeneralAdd">Agregar General</a></li>
                    <li class="dropdown-header textomenu" role="presentation"><i class="fas fa-caret-right"></i> Generales Tipo</li>
                    <li><a asp-area="Generales" asp-controller="FicGenerales" asp-action="ListaTipo">Lista Generales Tipo</a></li>
                    <li><a asp-area="Generales" asp-controller="FicGenerales" asp-action="FicAddTipo">Agregar General Tipo</a></li>
                </ul>
            </li>
        </ul>
    </aside><!-- End Left sidebar -->
    <!-- Sidebar Ends -->


    <partial name="_CookieConsentPartial" />


    <!--content area start-->
    <div id="content" class="pmd-content content-area dashboard">
        <div class="container-fluid">
            @RenderBody()

        </div>
    </div><!-- content area end -->
    <!-- Footer Starts -->
    <footer class="admin-footer">
        <div class="container-fluid">
            <ul class="list-unstyled list-inline">
                <li>
                    <span class="pmd-card-subtitle-text"><span class="auto-update-year"></span>. &copy; 2018 - FicProyecto_web</span>
                </li>
            </ul>
        </div>
    </footer>
    <!-- Footer Ends -->



    <environment include="Development">
        <!--  <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
      -->
        <script src="~/assets/js/jquery-1.12.2.min.js"></script>
        <script src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/propeller.min.js"></script>
        <script>
            $(document).ready(function () {
                var sPath = window.location.pathname;
                var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
                $(".pmd-sidebar-nav").each(function () {
                    $(this).find("a[href='" + sPage + "']").parents(".dropdown").addClass("open");
                    $(this).find("a[href='" + sPage + "']").parents(".dropdown").find('.dropdown-menu').css("display", "block");
                    $(this).find("a[href='" + sPage + "']").parents(".dropdown").find('a.dropdown-toggle').addClass("active");
                    $(this).find("a[href='" + sPage + "']").addClass("active");
                });
                $(".auto-update-year").html(new Date().getFullYear());
            });
        </script>
        <!-- Datatable js -->
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <!-- Datatable Bootstrap -->
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <!-- Datatable responsive js-->
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
        <!-- Datatable select js-->
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.0/js/dataTables.select.min.js"></script>

        <!-- Responsive Data table js-->
        <script>
            //Propeller  Customised Javascript code
            $(document).ready(function () {
                var exampleDatatable = $('#example').DataTable({
                    responsive: {
                        details: {
                            type: 'column',
                            target: 'tr'
                        }
                    },

                    order: [0, 'asc'],
                    bFilter: true,
                    bLengthChange: true,
                    pagingType: "simple",
                    "paging": true,
                    "searching": true,
                    "language": {
                        "info": " _START_ - _END_ of _TOTAL_ ",
                        "sLengthMenu": "<span class='custom-select-title'>Rows per page:</span> <span class='custom-select'> _MENU_ </span>",
                        "sSearch": "Buscar",
                        "sSearchPlaceholder": "Buscar",
                        "paginate": {
                            "sNext": " ",
                            "sPrevious": " "
                        },
                    },
                    dom:
                        "<'pmd-card-title'<'data-table-responsive pull-left'><'search-paper pmd-textfield'f>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'pmd-card-footer' <'pmd-datatable-pagination' l i p>>",
                });

                /// Select value
                $('.custom-select-info').hide();

                $(".data-table-responsive").html('');
                $(".custom-select-action").html('<button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">delete</i></button><button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">more_vert</i></button>');

            });
        </script>
        <script type="text/javascript" language="javascript" src="~/components/datetimepicker/js/moment-with-locales.js"></script>
        <script type="text/javascript" language="javascript" src="~/components/datetimepicker/js/bootstrap-datetimepicker.js"></script>
        <script>
            // Linked date and time picker
            // start date date and time picker

            $('#datepicker-start').datetimepicker({
             
             
            });

            // End date date and time picker
            $('#datepicker-end').datetimepicker({
              
            });

            // start date picke on chagne event [select minimun date for end date datepicker]
            $("#datepicker-start").on("dp.change", function (e) {
                $('#datepicker-end').data("DateTimePicker").minDate(e.date);
            });
            // Start date picke on chagne event [select maxmimum date for start date datepicker]
            $("#datepicker-end").on("dp.change", function (e) {
                $('#datepicker-start').data("DateTimePicker").maxDate(e.date);
            });

            // Disabled Days of the Week (Disable sunday and saturday) [ 0-Sunday, 1-Monday, 2-Tuesday   3-wednesday 4-Thusday 5-Friday 6-Saturday]
            $('#datepicker-disabled-days').datetimepicker({
                daysOfWeekDisabled: [0, 6]
            });
            
            function opendeletemodal(data) {
                $('#formdelete').attr('action','https://@Context.Request.Host@Context.Request.Path/FicCarreras/FicDelete'+ data);
            }
            var url = "localhost:44359/";
          //  var url = "localhost:5001/"
            function opendeletemodalfull(data) {
                $('#formdelete').attr('action','https://'+url+'@ViewContext.RouteData.Values["area"]/@ViewContext.RouteData.Values["controller"]/'+ data);
            }

            function showFloatingAlertMessage(msg, type) {
                if (typeof msg != 'undefined' && msg != '' && typeof type != 'undefined' && type != '') {
                    //change type
                    if (type == 'danger') {
                        type = 'error';
                    }
                    if (type == 'success') {
                        type = 'success';
                    }
                    element = $('.floating_alert_button');
                    $(element).attr('data-type', type);
                    $(element).attr('data-message', msg);
                    $(element).trigger('click');
                    return;
                }
                alert('fallback error!');
            }

            
         
        </script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
