﻿@model List<FicProyecto_web.Models.FicCarrera.cat_tipos_generales>
@{
    ViewData["Title"] = "Detalle";
}
<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"> Detalle Tipo</h2>
            </div>
            <div class="pmd-card-body">
                <div class="row">

                    <div class="col-md-3">
                        <a href="ListaTipo" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>

                @foreach (var tipo in Model)
                {
                    <input hidden name="IdTipoGeneral" value="@tipo.IdTipoGeneral" />
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    DesTipo
                                </label>
                                <input readonly value="@tipo.DesTipo" type="text" required maxlength="20" id="ClaveCarrera" name="DesTipo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    UsuarioReg
                                </label>
                                <input readonly value="@tipo.UsuarioReg" type="text" required maxlength="20" id="ClaveOficial" name="UsuarioReg" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    UsuarioMod
                                </label>
                                <input readonly value="@tipo.UsuarioMod" type="text" required maxlength="20" id="ClaveOficial" name="UsuarioMod" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    FechaReg
                                </label>
                                <input readonly value="@tipo.FechaReg" type="text" required maxlength="20" id="ClaveCarrera" name="DesTipo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">
                                    FechaReg
                                </label>
                                <input readonly value="@tipo.FechaUltMod" type="text" required maxlength="20" id="ClaveCarrera" name="DesTipo" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Activo
                                    </label>
                                    <div class="pmd-switch">
                                        @if (tipo.Activo == "S")
                                        {
                                            <label>
                                                <input name="Activo" type="checkbox" checked readonly>
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input name="Activo" type="checkbox" readonly>
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Borrado
                                    </label>
                                    <div class="pmd-switch">
                                        @if (tipo.Borrado == "S")
                                        {
                                            <label>
                                                <input name="Borrado" type="checkbox" checked readonly>
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input name="Borrado" type="checkbox" readonly>
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</div>