﻿@model FicProyecto_web.Models.FicCarrera.cat_generales_editar
@{
    ViewData["Title"] = "Detalle";
}
<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>
<form action="FicUpdateGeneral">
    @foreach (var cat_generales in Model.cat_generales)
    {
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text"> Detalle General</h2>
                    </div>
                    <div class="pmd-card-body">
                        <div class="row">

                            <div class="col-md-3">
                                <a href="/Generales/FicGenerales" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                                    <i class="fas fa-arrow-left"></i>
                                </a>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>

                        <input hidden name="cat_generales.IdGeneral" value="@cat_generales.IdGeneral" />
                        <input hidden name="cat_generales.UsuarioReg" value="@cat_generales.UsuarioReg" />
                        <input hidden name="cat_generales.FechaReg" value="@cat_generales.FechaReg" />

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Clave
                                    </label>
                                    <input value="@cat_generales.Clave" type="text" required maxlength="20" id="ClaveCarrera" name="cat_generales.Clave" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        DesGeneral
                                    </label>
                                    <input value="@cat_generales.DesGeneral" type="text" required maxlength="100" id="ClaveCarrera" name="cat_generales.DesGeneral" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        IdLlaveClasifica
                                    </label>
                                    <input type="text" value="@cat_generales.IdLlaveClasifica" required maxlength="50" id="ClaveCarrera" name="cat_generales.IdLlaveClasifica" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Referencia
                                    </label>
                                    <input type="text" value="@cat_generales.Referencia" required maxlength="50" id="ClaveCarrera" name="cat_generales.Referencia" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="group-fields clearfix row">
                            <div class="col-sm-6 ">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">DesTipo </label>
                                    <select name="cat_generales.IdTipoGeneral" class="form-control">
                                        @foreach (var item in Model.cat_tipos_generales)
                                        {
                                            if (item.IdTipoGeneral == cat_generales.IdTipoGeneral)
                                            {
                                                <option selected value="@item.IdTipoGeneral">@item.DesTipo</option>
                                            }
                                            else
                                            {
                                                <option value="@item.IdTipoGeneral">@item.DesTipo</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Activo
                                        </label>
                                        <div class="pmd-switch">
                                            @if (@cat_generales.Activo == "S")
                                            {
                                                <label>
                                                    <input name="cat_generales.Activo" checked type="checkbox">
                                                    <span class="pmd-switch-label"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input name="cat_generales.Activo" type="checkbox">
                                                    <span class="pmd-switch-label"></span>
                                                </label>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Borrado
                                        </label>
                                        <div class="pmd-switch">
                                            @if (@cat_generales.Borrado == "S")
                                            {
                                                <label>
                                                    <input name="cat_generales.Borrado" checked type="checkbox">
                                                    <span class="pmd-switch-label"></span>
                                                </label>
                                            }
                                            else
                                            {
                                                <label>
                                                    <input name="cat_generales.Borrado" type="checkbox">
                                                    <span class="pmd-switch-label"></span>
                                                </label>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-block" type="submit">ACTUALIZAR CAT GENERAL</button>
                    </div>
                </div>
            </div>
        </div>
    }
    </form>