﻿@model FicProyecto_web.Models.FicCarrera.eva_carreras_especialdiades_agregar

@{
    ViewData["Title"] = "FicAdd";
}

<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"> Agregar Especialidad  a <b>@Model.eva_cat_carreras[0].DesCarrera</b></h2>
            </div>
            <div class="pmd-card-body">
                <div class="row">

                    <div class="col-md-3">
                        <a href="FicCarreraEspecialdiades?idcarrera=@Model.eva_cat_carreras[0].IdCarrera" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <form action="FicAddEspecialidadCarreraIndividual">
                   
                        <input hidden name="eva_carreras_especialidades.IdCarrera" value="@Model.eva_cat_carreras[0].IdCarrera"  />
                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="col-sm-6">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                            <label for="regular1" class="control-label">FechaIni</label>
                                            <input type="text" name="eva_carreras_especialidades.FechaIni" id="datepicker-start" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                            <label for="regular1" class="control-label">FechaFin</label>
                                            <input type="text" name="eva_carreras_especialidades.FechaFin" id="datepicker-end" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="group-fields clearfix row">
                            <div class="col-sm-6 ">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">Gen Modalidad </label>
                                    <select name="eva_carreras_especialidades.IdEspecialidad" class="form-control">
                                        @foreach (var item in Model.eva_cat_especialidades)
                                        {

                                            <option value="@item.IdEspecialidad">@item.DesEspecialidad</option>

                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Activo
                                        </label>
                                        <div class="pmd-switch">
                                            <label>
                                                <input name="eva_carreras_especialidades.Activo" type="checkbox">
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Borrado
                                        </label>
                                        <div class="pmd-switch">
                                            <label>
                                                <input name="eva_carreras_especialidades.Borrado" type="checkbox">
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-block" type="submit">AGREGAR  ESPECIALIDAD A  @Model.eva_cat_carreras[0].DesCarrera</button>
                </form>
            </div>
        </div>
    </div>
</div>
