﻿@model FicProyecto_web.Models.FicCarrera.eva_carreras_especialdiades_agregar

@{
    ViewData["Title"] = "FicAdd";
}

<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="pmd-card pmd-card-default pmd-z-depth">
                <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text"> Detalles de la  Especialidad  de <b>@Model.eva_cat_carreras[0].DesCarrera</b></h2>
                </div>
                <div class="pmd-card-body">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="FicCarreraEspecialdiades?idcarrera=@Model.eva_cat_carreras[0].IdCarrera" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>

                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">FechaIni</label>
                                        <input readonly type="text" name="eva_carreras_especialidades.FechaIni" value="@Model.eva_carreras_especialidades.FechaIni" id="datepicker-start1" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">FechaFin</label>
                                        <input readonly type="text" name="eva_carreras_especialidades.FechaFin" value="@Model.eva_carreras_especialidades.FechaFin" id="datepicker-end1" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">FechaReg</label>
                                        <input readonly type="text" name="eva_carreras_especialidades.FechaIni" value="@Model.eva_carreras_especialidades.FechaReg" id="datepicker-start1" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">FechaReg</label>
                                        <input readonly type="text" name="eva_carreras_especialidades.FechaFin" value="@Model.eva_carreras_especialidades.FechaReg" id="datepicker-end1" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">UsuarioReg</label>
                                        <input readonly type="text" name="eva_carreras_especialidades.FechaIni" value="@Model.eva_carreras_especialidades.UsuarioReg" id="datepicker-start1" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">UsuarioMod</label>
                                        <input readonly type="text" name="eva_carreras_especialidades.FechaFin" value="@Model.eva_carreras_especialidades.UsuarioMod" id="datepicker-end1" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="group-fields clearfix row">
                        <div class="col-sm-6 ">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <label for="regular1" class="control-label">Gen Modalidad </label>
                                <select readonly name="eva_carreras_especialidades.IdEspecialidad" class="form-control">
                                    @foreach (var item in Model.eva_cat_especialidades)
                                    {
                                        if (Model.eva_carreras_especialidades.IdEspecialidad == item.IdEspecialidad)
                                        {
                                            <option selected value="@item.IdEspecialidad">@item.DesEspecialidad</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="group-fields clearfix row">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Activo
                                    </label>
                                    <div class="pmd-switch">
                                        <label>
                                            @if (Model.eva_carreras_especialidades.Activo == "S")
                                            {
                                                <input readonly name="eva_carreras_especialidades.Activo" checked type="checkbox">
                                            }
                                            else
                                            {
                                                <input readonly name="eva_carreras_especialidades.Activo" type="checkbox">
                                            }
                                            <span class="pmd-switch-label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        Borrado
                                    </label>
                                    <div class="pmd-switch">
                                        <label>
                                            @if (Model.eva_carreras_especialidades.Borrado == "S")
                                            {
                                                <input readonly name="eva_carreras_especialidades.Borrado" checked type="checkbox">
                                            }
                                            else
                                            {
                                                <input readonly name="eva_carreras_especialidades.Borrado" type="checkbox">
                                            }

                                            <span class="pmd-switch-label"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>

