﻿@model List<FicProyecto_web.Models.FicCarrera.eva_carreras_especialidades>

@{
    ViewData["Title"] = " Detalle Especialidad  Carrera";
}

<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="pmd-card pmd-card-default pmd-z-depth">
                <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text"> Detalle Especialidad  Carrera</h2>
                </div>
                <div class="pmd-card-body">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="IndexEC" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
 
                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        DesCarrera
                                    </label>
                                    <input type="text" readonly value="@item.eva_cat_carreras.DesCarrera" maxlength="20" id="ClaveCarrera" name="DesEspecialidad" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        DesEspecialidad
                                    </label>
                                    <input type="text" readonly value="@item.eva_cat_especialidades.DesEspecialidad" maxlength="20" id="ClaveCarrera" name="DesEspecialidad" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="col-sm-6">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                            <label for="regular1" class="control-label">FechaIni</label>
                                            <input type="datetime-local" name="eva_carreras_especialidades.FechaIni" value="@String.Format("{0:yyyy-MM-ddTHH:mm:ss}", item.FechaIni)" id="datepicker-start1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                            <label for="regular1" class="control-label">FechaFin</label>
                                            <input type="datetime-local" name="eva_carreras_especialidades.FechaFin" value="@String.Format("{0:yyyy-MM-ddTHH:mm:ss}", item.FechaFin)" id="datepicker-end1" class="form-control" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Activo
                                        </label>
                                        <div class="pmd-switch">
                                            <label>
                                                @if (item.Activo == "S")
                                                {
                                                    <input name="eva_carreras_especialidades.Activo" checked readonly type="checkbox">
                                                }
                                                else
                                                {
                                                    <input name="eva_carreras_especialidades.Activo" readonly type="checkbox">
                                                }

                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Borrado
                                        </label>
                                        <div class="pmd-switch">
                                            <label>
                                                @if (item.Borrado == "S")
                                                {
                                                    <input name="eva_carreras_especialidades.Borrado" checked readonly type="checkbox">
                                                }
                                                else
                                                {
                                                    <input name="eva_carreras_especialidades.Borrado" readonly type="checkbox">
                                                }

                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                </div>
            </div>
        </div>
    </div>
}
