﻿@model List<FicProyecto_web.Models.FicCarrera.eva_cat_especialidades>

@{
    ViewData["Title"] = "Edita respecialidad";
}
<style>
    .topdateinfo {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget .accordion-toggle {
        background-color: #f4c342;
    }

    .bootstrap-datetimepicker-widget table td.day.active:hover span, .bootstrap-datetimepicker-widget table td.hour.active:hover span, .bootstrap-datetimepicker-widget table td.minute.active:hover span, .bootstrap-datetimepicker-widget table td.second.active:hover span, .bootstrap-datetimepicker-widget table td.active span, .bootstrap-datetimepicker-widget table td.active span:hover, .bootstrap-datetimepicker-widget table td span.active {
        background-color: #f4c342;
    }
</style>
@foreach (var item in Model)
{


    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="pmd-card pmd-card-default pmd-z-depth">
                <div class="pmd-card-title">
                    <h2 class="pmd-card-title-text"> Agregar Especialidad</h2>
                </div>
                <div class="pmd-card-body">
                    <div class="row">

                        <div class="col-md-3">
                            <a href="/Especialidades/FicEspecialidades" data-toggle="tooltip" data-placement="top" title="" data-original-title="Tooltip on top" class="btn  pmd-btn-raised pmd-tooltip btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <form action="FicEditEspecialidad">

                        <input style="display:none" type="text" value="@item.IdEspecialidad"  maxlength="20" id="ClaveCarrera" name="IdEspecialidad" class="form-control">

                        <div class="group-fields clearfix row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label for="regular1" class="control-label">
                                        DesEspecialidad
                                    </label>
                                    <input type="text" value="@item.DesEspecialidad" required maxlength="20" id="ClaveCarrera" name="DesEspecialidad" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="group-fields clearfix row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Activo
                                        </label>
                                        <div class="pmd-switch">
                                            <label>
                                                @if (item.Activo == "S")
                                                {
                                                    <input name="Activo" type="checkbox" checked>
                                                }
                                                else
                                                {
                                                    <input name="Activo" type="checkbox" readonly>
                                                }
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                        <label for="regular1" class="control-label">
                                            Borrado
                                        </label>
                                        <div class="pmd-switch">
                                            <label>
                                                @if (item.Borrado == "S")
                                                {
                                                    <input name="Borrado" type="checkbox" checked>
                                                }
                                                else
                                                {
                                                    <input name="Borrado" type="checkbox" readonly>
                                                }
                                                <span class="pmd-switch-label"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button class="btn btn-primary btn-block" type="submit">ACTUALIZAR ESPECIALIDAD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}