﻿@model List<FicProyecto_web.Models.FicCarrera.eva_carreras_especialidades>
@{
    ViewData["Title"] = "Lista Especialidades con Carrera";
}
<!-- DataTables css-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.0/css/select.dataTables.min.css">
<!-- Propeller dataTables css-->
<link rel="stylesheet" type="text/css" href="~/components/data-table/css/pmd-datatable.css">
<style>
    td p {
        white-space: nowrap !important;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="pmd-card pmd-card-default pmd-z-depth">
            <div class="pmd-card-title">
                <h2 class="pmd-card-title-text"> Lista Especialidades con Carrera </h2>
            </div>
            <div class="pmd-card-body">
                <div class="row">

                    <div class="col-md-3">
                        <a href="/" class="btn  pmd-btn-raised  btn-sm pmd-btn-fab pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        <a href="FicAddEC" class="btn pmd-btn-raised pmd-ripple-effect btn-default">
                            <i class="fas fa-plus-circle"></i>AGREGAR NUEVA ESPECIALDIAD CARRERA
                        </a>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <table id="example" class="table pmd-table table-hover table-striped display responsive nowrap dataTable no-footer dtr-column" cellspacing="0" width="100%"
                       role="grid" aria-describedby="example_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th>Acciones</th>
                            <th>DesCarrera</th>
                            <th>DesEspecialidad</th>
                            <th>FechaReg</th>
                            <th>FechaUltMod</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <span class="dropdown pmd-dropdown clearfix">
                                    <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button" id="dropdownMenuBottomRight" data-toggle="dropdown" aria-expanded="false">
                                        <i class="material-icons pmd-sm">more_vert</i>
                                    </button>
                                    <div class="pmd-dropdown-menu-container">
                                        <div class="pmd-dropdown-menu-bg pmd-dropdown-menu-bg-right"></div><ul aria-labelledby="dropdownMenuDivider" role="menu" class="dropdown-menu dropdown-menu-right pm-ini" style="clip: rect(0px, 160px, 0px, 160px);">
                                            <li role="presentation"><a href="FicUpdateEC?id=@item.IdCarreraEspecilidad" tabindex="-1" role="menuitem"><i class="fas fa-edit"></i> EDITAR</a></li>
                                            <li role="presentation"><a href="FicDetalleEC?id=@item.IdCarreraEspecilidad" tabindex="-1" role="menuitem"><i class="fas fa-info-circle"></i> DETALLE</a></li>
                                            <li role="presentation">
                                                <a data-target="#complete-dialog" data-toggle="modal" onclick="opendeletemodalfull('FicDeleteEspecialidadEC?id=@item.IdCarreraEspecilidad')" tabindex="-1" role="menuitem"><i class="fas fa-trash-alt"></i> ELIMINAR</a>
                                            </li>
                                        </ul>
                                    </div>
                                </span>
                            </td>
                            <td>@item.eva_cat_carreras.DesCarrera</td>
                            <td>@item.eva_cat_especialidades.DesEspecialidad</td>
                            <td>@item.FechaReg</td>
                            <td>@item.FechaUltMod</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="formdelete" action="FicDelete" method="post">
    <div tabindex="-1" class="modal fade" id="complete-dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="pmd-card-title-text">¿Desea Eliminar?</h2>
                </div>
                <div class="modal-body">

                </div>
                <div class="pmd-modal-action pmd-modal-bordered text-right">
                    <button data-dismiss="modal" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" type="button">CANCELAR</button>
                    <button type="submit" class="btn pmd-btn-flat pmd-ripple-effect btn-default">BORRAR</button>
                </div>
            </div>
        </div>
    </div>
</form>